<footer class="">
	<div class="bg-primary">
		<div class="container-xxl">
			<div class="row">
				<div class="col-12 col-sm-6 text-light d-flex align-items-center justify-content-start">
					<p class="fs-3 fw-bold mb-0">The biggest UK's online market</p>
				</div>
				<div class="col-12 col-sm-6 text-light d-flex align-items-center justify-content-end">
					<div class="row col-12">
						<div class="col-6 mt-3 mb-3">
							<p class="fs-5 mb-0">135675</p>
							<p class="mb-0" style="font-size: 14px;">Active members</p>
						</div>
						<div class="col-6 mt-3 mb-3">
							<p class="fs-5 mb-0">335275</p>
							<p class="mb-0" style="font-size: 14px;">Active listings</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-primary-subtle p-3">
		<div class="container-xxl">
			<div class="row">
				<div class="col-12 col-sm-6"></div>
				<div class="col-12 col-sm-6">
					<div class="row">
						<ul class="navbar-nav col-6">
							<li class="border-bottom text-decoration-underline" style="width: fit-content;">INFORMATION</li>
							<li>
								<a class="nav-link" href="" style="width: fit-content;">About us</a>
							</li>
							<li>
								<a class="nav-link" href="" style="width: fit-content;">Terms & Conditions</a>
							</li>
							<li>
								<a class="nav-link" href="" style="width: fit-content;">Privacy & Policy</a>
							</li>
						</ul>
						<ul class="navbar-nav col-6">
							<li class="border-bottom text-decoration-underline" style="width: fit-content;">GET IN TOUCH</li>
							<li>
								<a class="nav-link" href="mailto:" style="width: fit-content;">email@email.com</a>
							</li>
							<li>
								<a class="nav-link" href="tel+" style="width: fit-content;">+449890123</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
	</div>
	<div class="bg-white d-flex align-items-center justify-content-center">
		<p class="mb-2 mt-2">&copy; Copyright
			{{ 'now' | date('Y') }}, Market.com</p>
	</div>
</footer>
